<div class="container mt-5">

    <h1>Общие правила</h1>
    <table mdbTable>
        <thead class="black white-text">
        <tr>
            <th scope="col">Тип пользователя</th>
            <th scope="col">Правило</th>
        </tr>
        </thead>
        <tbody>
        <tr mdbTableCol *ngFor="let rule of userTypeRules">
            <td>{{ rule.userType ? rule.userType.title : rule.userTypeId }}</td>
            <td>{{ rule.rule ? rule.rule.title : rule.ruleId }}</td>
        </tr>
        </tbody>
    </table>

</div>
