<div class="container">

    <div *ngIf="order" class="jumbotron mt-4">

        <h1 class="display-4">Заказ ID: {{ order.id }}</h1>

        <div class="d-flex">
            <div class="col flex-fill align-self-stretch">
                <p class="lead">{{ order.description }}</p>
            </div>
            <div class="col d-flex flex-fill align-self-center justify-content-center">
                <form *ngIf="canChangeStatus" class="text-center border border-light p-5" [formGroup]="statusChangingForm">
                    <select class="browser-default custom-select mb-4" formControlName="statusId">
                        <option *ngFor="let status of statuses" [ngValue]="status.id">{{ status.title }}</option>
                    </select>
                    <button mdbBtn color="info" block="true" type="submit" (click)="changeStatus()">Изменить</button>
                </form>
            </div>
        </div>

        <div *ngIf="order.userOwner">
            <hr class="my-4">
            <h3>Заказчик</h3>
            <div class="d-flex">
                <div class="flex-fill align-self-stretch">
                    <app-user-card [user]="customer" class="text-center"></app-user-card>
                </div>
                <div class="d-flex flex-fill align-self-center justify-content-center">
                    <button mdbBtn type="button" color="primary" size="lg" [disabled]="!canSendNotifications" mdbWavesEffect>Отправить уведомление</button>
                </div>
            </div>
        </div>

        <div>
            <hr class="my-4">
            <h3>Менеджер</h3>
            <div class="d-flex">
                <div class="flex-fill align-self-stretch">
                    <app-user-card *ngIf="manager; else elseBlock" [user]="manager" class="text-center"></app-user-card>
                    <ng-template #elseBlock class="text-center">Не назначен</ng-template>
                </div>
                <div class="d-flex flex-fill align-self-center justify-content-center">
                    <form *ngIf="canChangeProjectManager" class="text-center border border-light p-5" [formGroup]="managerChangingForm">
                        <select class="browser-default custom-select mb-4" formControlName="managerId">
                            <option selected [ngValue]="null">Выберите менеджера...</option>
                            <option *ngFor="let user of managers" [ngValue]="user.id">{{ user.fullName }}</option>
                        </select>
                        <button mdbBtn color="info" block="true" type="submit" (click)="changeManager()">Сохранить</button>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>
