<!-- Card -->
<div class="card card-cascade cascading-admin-card user-card">

    <!-- Card content -->
    <div class="card-body card-body-cascade">

        <div class="data">
            <h5 class="font-weight-bold dark-grey-text">Ваш заказ</h5>
        </div>

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">

                <h4 class="text-muted text-left my-4">Статус: {{ order && order.status ? order.status.title : '' }}</h4>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">

                <h4 class="text-muted text-left my-4">Тип: {{ order && order.type ? order.type.title : '' }}</h4>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-12">

                <h4 class="text-muted text-left my-4">О заказе</h4>

                <p class="text-muted text-left">{{ order ? order.description : '' }}</p>

            </div>
            <!-- Grid column -->

        </div>

        <div *ngIf="order && order.manager">
            <h4 class="text-muted text-left my-4">Менеджер</h4>

            <app-user-card [user]="order.manager"></app-user-card>
        </div>
        <!-- Grid row -->

    </div>
    <!-- Card content -->

</div>
<!-- Card -->
