<div class="container text-center mt-4 mb-4">
    <p class="h1 mt-5 mb-5">O нас</p>

    <p>Мы помогаем нашим клиентам трансформировать бизнес. Наши многопрофильные команды специалистов сочетают 
        компетенции в различных сферах бизнеса и дизайнерское мышление, являются экспертами по разработке ПО, 
        используют современные методы управления и передовые инструменты для оптимизации производительности.</p>
</div>

<div class="container-fluid pt-5 pb-5" style="background-color: rgb(118, 205, 216);">
    <p class="h1 text-center text-white mb-5">ИСТОРИЯ</p>
    <div class="container">
        <img src="https://www.epam-group.ru/content/dam/epam/ru/History_short_1088.png" alt="" class="img-fluid">
    </div>
</div>
