<div class="container mt-5">

    <table mdbTable>
        <thead class="black white-text">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Заказчик</th>
            <th scope="col">Тип</th>
            <th scope="col">Статус</th>
        </tr>
        </thead>
        <tbody>
        <tr mdbTableCol *ngFor="let order of orders">
            <td>{{ order.id }}</td>
            <td>{{ order.userOwner ? order.userOwner.fullName : order.userId }}</td>
            <td>{{ order.type ? order.type.title : order.orderTypeId }}</td>
            <td>{{ order.status ? order.status.title : order.orderStatusId }}</td>
        </tr>
        </tbody>
    </table>

</div>
