<nav class="mb-1 navbar navbar-expand-lg navbar-dark default-color">
    <a class="navbar-brand" routerLink="">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-333"
            aria-controls="navbarSupportedContent-333" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent-333">
        <ul *ngIf="this.router.url.startsWith('/admin')" class="navbar-nav mr-auto">
            <li *ngIf="viewingOrders" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/admin/orders">Заказы</a>
            </li>
            <li *ngIf="viewingUsers" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/admin/users">Пользователи</a>
            </li>
            <li *ngIf="viewingRules" class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/admin/rules">Права</a>
            </li>
        </ul>
        <ul *ngIf="!this.router.url.startsWith('/admin')" class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{ exact:true }">
                <a class="nav-link" routerLink="">Главная</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/service">Услуги</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/solutions">Решения</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="/about">О нас</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto nav-flex-icons">
            <li *ngIf="user" class="nav-item my-2" style="color: ghostwhite">
                {{ user.email }}
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right dropdown-default"
                     aria-labelledby="navbarDropdownMenuLink-333">
                    <a *ngIf="user && adminPanelRule || !user" class="dropdown-item" routerLink="/admin">Админка</a>
                    <a *ngIf="user && accountPanelRule" class="dropdown-item" routerLink="/lk">Личный кабинет</a>
                    <a *ngIf="user" class="dropdown-item" routerLink="/logout">Выход</a>
                    <a *ngIf="!user" class="dropdown-item" routerLink="/login">Войти</a>
                </div>
            </li>
        </ul>
    </div>
</nav>
