<!-- Card -->
<div class="card profile-card">

    <div class="card-body pt-0 mt-0">

        <!-- Name -->
        <h3 class="mb-3 font-weight-bold mt-5"><strong>{{ user ? user.name : '' }} {{ user ? user.surname : '' }}</strong></h3>
        <h6 class="font-weight-bold cyan-text mb-4">{{ user ? user.email : '' }}</h6>
        <h6 class="font-weight-bold cyan-text mb-4">{{ user ? user.phoneNumber : '' }}</h6>

        <p class="mt-4 text-muted">{{ user ? user.creationDate.toLocaleString() : '' }}</p>

    </div>

</div>
<!-- Card -->
