<h1 class="text-center" style="margin: 100px 0 100px">Создаем будущее сегодня</h1>

<div class="container">
    <div class="row">
        <!-- Card Wider -->
        <div class="card card-cascade wider col">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://www.epam-group.ru/content/dam/epam/news_events/press-releases/2020/epam_introduces_covid_19_protective_mask_designed_by_epam_continuum_hp.jpg" alt="Card image cap">
                <a href="#!">
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center pb-0">

                <!-- Title -->
                <h4 class="card-title"><strong>Пресс-релиз</strong></h4>
                <!-- Text -->
                <p class="card-text">ЕРАМ Continuum создал маски GENTL для помощи в борьбе с COVID-19</p>

            </div>

        </div>
        <!-- Card Wider -->

        <!-- Card Narrower -->
        <div class="card card-cascade narrower col ml-3 mr-3">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://www.epam-group.ru/content/dam/epam/ru/remote-webinar/omnichennel-webinar_818.jpg"
                     alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade">

                <!-- Label -->
                <h5 class="pink-text pb-2 pt-1">Пресс-релиз</h5>
                <!-- Text -->
                <p class="card-text">EPAM и Curogram помогут бороться с COVID-19 посредством телемедицины</p>

            </div>

        </div>
        <!-- Card Narrower -->

        <!-- Card Regular -->
        <div class="card card-cascade col">

            <!-- Card image -->
            <div class="view view-cascade overlay">
                <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/men.jpg" alt="Card image cap">
                <a>
                    <div class="mask rgba-white-slight"></div>
                </a>
            </div>

            <!-- Card content -->
            <div class="card-body card-body-cascade text-center">

                <!-- Title -->
                <h4 class="card-title"><strong>Billy Coleman</strong></h4>
                <!-- Subtitle -->
                <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
                <!-- Text -->
                <p class="card-text">Наши знания, экспертиза и опыт в различных направлениях позволяют нам создавать
                    для своих клиентов решения, которые выводят бизнес на новый уровень.
                    Мы создаем инновационные решения для 11 отраслей в 25 странах и помогаем решать самые сложные
                    задачи. Цифры говорят сами за себя.
                </p>

            </div>

        </div>
        <!-- Card Regular -->
    </div>


    <!-- Card -->
    <div class="card card-cascade wider reverse">

        <!-- Card image -->
        <div class="view view-cascade overlay">
            <img class="card-img-top" src="../../../assets/Homepage_mid_1920.jpg"
                 alt="Card image cap">
            <a href="#!">
                <div class="mask rgba-white-slight"></div>
            </a>
        </div>

        <!-- Card content -->
        <div class="card-body card-body-cascade text-center">

            <!-- Title -->
            <h4 class="card-title"><strong>Наши партнеры</strong></h4>
            <!-- Text -->
            <p class="card-text">Мы сотрудничаем с  160+ ведущими технологическими компаниями
                для разработки передовых решений, которые изменят ваш бизнес.
            </p>

            <!-- Linkedin -->
            <a class="px-2 fa-lg li-ic"><i class="fab fa-linkedin-in"></i></a>
            <!-- Twitter -->
            <a class="px-2 fa-lg tw-ic"><i class="fab fa-twitter"></i></a>
            <!-- Dribbble -->
            <a class="px-2 fa-lg fb-ic"><i class="fab fa-facebook-f"></i></a>

        </div>

    </div>
    <!-- Card -->
</div>
