<div class="container mt-5">

    <app-create-user-form *ngIf="canCreateUser"></app-create-user-form>

    <div class="row">
        <div *ngFor="let type of userTypes" class="col-4">

            <h1 class="mt-4">{{ type.title }}</h1>
            <div class="list-group">
                <a *ngFor="let user of (users | userByType:type)"
                   routerLink="/admin/users/{{ user.id }}"
                   class="list-group-item list-group-item-action flex-column align-items-start">
                    <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1">{{ user.fullName }}</h5>
                        <small>{{ user.type ? user.type.title : '' }}</small>
                    </div>
                    <small>Дата создания: {{ user.creationDate.toLocaleString() }}</small>
                </a>
            </div>

        </div>
    </div>

</div>
