@media (min-width: 320px) and (max-width: 750px) {
    .main_news_item-card {
        flex: 0 0 90%;
        margin: 20px auto 20px;
        margin-left: auto !important;
        margin-right: auto !important;
    }
}