@media (min-width: 320px) and (max-width: 480px) {
    .col-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .col-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}