<!-- Default form register -->
<form class="form order-form container mt-4 text-center border border-light p-5" [formGroup]="form">

    <p class="form_title order-form_title h4 mb-4">Оформление заказа</p>

    <div class="form-row">
        <div class="col">
            <div class="form_input-block order-form_input-block md-form mt-0 mb-4">
                <!-- First name -->
                <input mdbInput mdbValidate type="text" id="name" class="form_input order-form_input form-control" formControlName="name">
                <label class="form_input-label order-form_input-label" for="name">Имя</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form mt-0 mb-4">
                <!-- Last name -->
                <input mdbInput mdbValidate type="text" id="surname" class="form_input order-form_input form-control" formControlName="surname">
                <label class="form_input-label order-form_input-label" for="surname">Фамилия</label>
            </div>
        </div>
    </div>

    <div class="form-row">
        <div class="col">
            <div class="md-form mt-0 mb-4">
                <!-- E-mail -->
                <input mdbInput mdbValidate type="email" id="email" class="form_input order-form_input form-control" formControlName="email">
                <label class="form_input-label order-form_input-label" for="email">Почта</label>
            </div>
        </div>
        <div class="col">
            <div class="md-form mt-0 mb-4">
                <!-- Phone number -->
                <input mdbInput mdbValidate type="text" id="phoneNumber" class="form_input order-form_input form-control" formControlName="phoneNumber">
                <label class="form_input-label order-form_input-label" for="phoneNumber">Телефон</label>
            </div>
        </div>
    </div>

    <!-- Subject -->
    <select class="form_selector order-form_selector browser-default custom-select mb-4" formControlName="typeId">
        <option selected [ngValue]="null">Выберите тип заказа...</option>
        <option *ngFor="let type of orderTypes" [ngValue]="type.id">{{ type.title }}</option>
    </select>

    <!--Basic textarea-->
    <div class="md-form mt-0">
        <textarea mdbInput mdbValidate type="text" id="form7" class="form_textarea order-form_textarea md-textarea form-control" formControlName="description" mdbInput></textarea>
        <label class="form_input-label order-form_input-label" for="form7">Опишите ваш заказ</label>
    </div>

    <!-- Send button -->
    <button mdbBtn class="form_btn order-form_btn" color="info" block="true" type="submit" (click)="order()">Оформить заказ</button>

</form>
<!-- Default form register -->
