<form [formGroup]="form">
    <div class="md-form">
        <input mdbInput mdbValidate type="email" id="form8" class="form-control" formControlName="email">
        <label for="form8">Email validator</label>
        <mdb-error *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)">Input invalid</mdb-error>
        <mdb-success *ngIf="emailInput.valid && (emailInput.dirty || emailInput.touched)">Input valid</mdb-success>
    </div>
    <div class="form-group">
        <label for="password">Пароль</label>
        <input type="password" class="form-control col-3" id="password" name="password" placeholder="Password">
    </div>
    <button type="submit" class="btn btn-primary" (click)="onAuth()">Войти</button>
</form>
