<form [formGroup]="form">
    <p class="h5 text-center mb-4">Авторизация</p>

    <div class="md-form">
        <i class="fas fa-envelope prefix grey-text"></i>
        <input mdbInput mdbValidate type="text" formControlName="email" id="email" class="form-control">
        <label for="email">Email</label>
    </div>

    <div class="md-form">
        <i class="fas fa-lock prefix grey-text"></i>
        <input mdbInput mdbValidate type="password" formControlName="password" id="password" class="form-control">
        <label for="password">Пароль</label>
    </div>

    <div class="text-center">
        <button type="submit" mdbBtn color="default" class="waves-light" mdbWavesEffect value="Войти" (click)="onAuth()">Войти</button>
    </div>
</form>
